# Virtual environment
venv/

# Data directory (to avoid uploading large datasets)
data/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# PyCharm specific files
.idea/
*.iml
*.ipr
*.iws

# General ignored files
__pycache__/
*.pyc
*.log
*.DS_Store
